In [1]:
import pandas as pd
adf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x2' : [1, 2, 3]})

In [2]:
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [3]:
bdf = pd.DataFrame(data={'x1': ['A', 'B', 'D'], 'x3' : ['T', 'F', 'T']})

In [4]:
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [5]:
pd.merge(adf, bdf, how="left")

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [6]:
pd.merge(adf, bdf, how="right")

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [7]:
#merged based on what they have in common
pd.merge(adf, bdf, how="inner")

  x1  x2 x3
0  A   1  T
1  B   2  F

In [8]:
#same as above
pd.merge(adf, bdf)

  x1  x2 x3
0  A   1  T
1  B   2  F

In [9]:
#union of merge with all the info
pd.merge(adf, bdf, how="outer")

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [10]:
pd.concat([adf, bdf], sort=True)

  x1   x2   x3
0  A  1.0  NaN
1  B  2.0  NaN
2  C  3.0  NaN
0  A  NaN    T
1  B  NaN    F
2  D  NaN    T

In [11]:
pd.concat([adf, bdf], axis=1)

  x1  x2 x1 x3
0  A   1  A  T
1  B   2  B  F
2  C   3  D  T

In [13]:
df = pd.concat([adf, bdf], ignore_index=True)

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [14]:
df

  x1   x2   x3
0  A  1.0  NaN
1  B  2.0  NaN
2  C  3.0  NaN
3  A  NaN    T
4  B  NaN    F
5  D  NaN    T

In [15]:
pd.merge(adf, bdf, how="left")

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN