In [6]:
import pandas as pd
import csv

In [7]:
df = pd.read_csv('titanic.csv')

In [17]:
pd.crosstab(df["Sex"], df["Embarked"])

Embarked   C   Q    S
Sex
female    73  36  203
male      95  41  441

In [18]:
total = 73 + 36 + 203

In [24]:
print(total)

312

In [31]:
percentage = (100*73)/312

In [32]:
print(percentage)

23

In [33]:
#23% of women

In [34]:
total_passengers = 95 + 41 + 441 + total

In [35]:
print(total_passengers)

889

In [37]:
percentage = (100*168) / 889

In [38]:
print(percentage)

18

In [ ]:
#18% of total passengers embarked in C